h2                    { margin: 10px;  text-align: left; }
h3                    { margin: 10px; }
h4                    { margin: 0px; }
p                     { margin: 2px;  font-size: 16px; }
input                 { border:1px solid #cccccc; border-radius: 5px;}
.toggleGuideText      { width: 100%; text-decoration: underline; color: white; }
.toggleGuideButton    { float: right; background-color: #232933 }
.IntroductionText     { border-radius: 10px;  padding: 20px;  margin: 20px; color: #232933; background-color: white;}
.Calculator           { width: auto; margin-top: 30px; padding: 20px; }
.TermAndTenancyDates  { border-radius: 20px;  padding: 20px; background-color: hotpink; }
.Income               { border-radius: 20px;  padding: 20px; background-color: darkturquoise; }
.Outgoing             { border-radius: 20px;  padding: 20px; background-color: mediumslateblue; }
.Result               { display: flex;  justify-content: center;  align-items: center;  border: solid;  border-color: white;  border-radius: 10px;   padding: 20px; margin: 40px; }
.Footer               { padding: 20px; }
.Feedback             { text-align: center; border-radius: 10px;  padding: 20px;  margin: 50px; color: #232933; background-color: white;}

.row                  { display: flex; flex-wrap: wrap; margin-top: 10px; margin-bottom: 20px; justify-content: center; }
.column div           { height: 30px; margin: 2px; margin-right: 10px; display: flex; justify-content:flex-end; align-items: center; }

@media only screen and (min-width: 900px) {
  .TabBar               { width: 900px; }
}

.App {
  font-family: 'Raleway', sans-serif;
  background-color: #232933;
  min-height: 100vh;
  color: white;
  width: 100%;
}

.App-header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: white;
}

.App-body {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
}
